

div{

  display:incline-block;
  border-radius:5px;
  background-color:#A7C8E0;
}


#top{
  width:100%;
  height:30%;

  position:relative;
}

#top p{
  font-size:30px;
  color:white;
  position:relative;
  margin-left:10%;
  margin-top:1px;
  margin-bottom:1px;
}

#left{
  width:10%;
  height:400px;
  position:relative;
  margin-left:0px;
  margin-top:2px;
  float:left;

}

#right{
  width:10%;
  height:400px;
  position:relative;
  float:right;
  margin-right:0px;
  margin-top:2px;

}

#middle{
  width:78%;
  height:400px;
  position:relative;
  margin:auto;
  margin-top:2px;

}

table{
  width:70%;
  height:100%;
  margin:auto;
  align:center;
  border:2px solid black;

}

table p{
    margin:auto;
    font-size：15px;
    text-align:center;
}
th{
  font-size:30px;
  font-family:Microsoft YaHei;
}

.c1{
  font-size:25px;
  font-family: Impact;

}
.c2{
  font-size:18px;
  font-family:Verdana;

}
