
div{

  display:incline-block;
  border-radius:5px;

}
.homework2{

	height:70%;
}

#head{

  width:100%;
  height:30%;
  position:relative;
  font-size: 30px;
  text-align: center;
}

#top p{
  font-size:30px;
  color:white;
  position:relative;
  margin-left:10%;
  margin-top:1px;
  margin-bottom:1px;
}

table{
  width:60%;
  height:100%;
  margin:auto;
  text-align:center;
  border:2px solid black;
}

table tr{

  border:2px solid black;

}

table p{
    margin: auto;
    font-size：15px;
}

th{
  font-size:20px;
  font-family:Microsoft YaHei;

}
.mark{
	background-color: #E4C8E9;

}
#requirement{
	margin:auto;
	width:50%;
	text-align: left;
	margin-top: 0px;

}
#requirement p{
	height:10px;
 	font-size:20px;
 	margin-top:0px;
}
.homework3 svg{

  margin-top: 0;
  float:center;
  margin-left:5%;
}
.tT{
  opacity: 1;
  fill: black;
}
.tM{
  opacity: 0.5;
  fill: red;

}
.tS{
  opacity:0.8;
  fill: white;
}
rect:hover{
  fill:orange;
}
